.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p{
    color: gray;
}

.chat__body{
    flex: 1;
    background-image: url("https://i.redd.it/qwd83nc4xxf41.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}